[submodule "Plugins/BasicUI"]
	path = Plugins/BasicUI
	url = https://github.com/Ji-Rath/BasicUI
[submodule "Plugins/InteractionSystem"]
	path = Plugins/InteractionSystem
	url = https://github.com/Ji-Rath/UEInteractSystem
[submodule "Plugins/SpatialInventory"]
	path = Plugins/SpatialInventory
	url = https://github.com/Ji-Rath/SpatialInventory
